body{
    text-align: center;
    font-size: 30px;
    color: #0f1894;
    background-image: url(../src/images/drakeposting-negative-meme.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.numbers{
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 100px;
    margin: 20px;
    border: 3px solid;
    border-color: #3ce4f0;
}
.operation{
    font-size:15px;
    padding:15px;
    width: 20px;
    height: 5px;
    border: 3px solid;
    border-color: #3ce4f0;
}
button{
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.answer{
    text-align: center;
    width: 10%;;
    font-size: 25px;
    padding: 5px;
    margin-top: 50px;
    border-radius: 20px;
    border: 3px solid;
    border-color: #3ce4f0;
}
p{
    color: white;
}

